{{#if show}}
  <div {{action close}} class="modal" style="display: block; padding-left: 0; background-color: rgba(128, 128, 128, 0.77);">
    <div {{action noop bubbles=false}} class="modal-dialog {{size}}">
      {{yield (hash
        close=(action close)
      )}}
    </div>
  </div>
{{/if}}